.catitem {
    width: 25vw;
}

.catitem .m {
    color: #A9A6AB;
    padding-top: 3vw;
    padding-bottom: 2.4vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    border-bottom: 0.5vw;
}

.catitem .ma {
    color: #4C556E;
    border-bottom: 0.5vw solid #4C556E;
}

ion-content{
    --background:#edeceb;
}
.s-I{
    color:green;
}
.s-S{
    color:gray;
}
.s-P{
    color:orange;
}
.s-W{
    color:green;
}
.s-C{
    color:gray;
}
.s-M{
    color:green;
}