
.header-ios ion-toolbar:last-child{
    --border-width:0px;
}
.catitem {
    width: 25vw;
}

.catitem .m {
    color: #A9A6AB;
    padding-top: 3vw;
    padding-bottom: 2.4vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    border-bottom: 0.5vw;
}

.catitem .ma {
    color: #4C556E;
    border-bottom: 0.5vw solid #4C556E;
}

ion-content{
    --background:#edeceb;
}
.isread{
    padding:2px 4px 2px 4px;
    border-radius: 3px;
    font-size: 11px;
}

.isread-N{
    background: red;
    color:white;
}
.isread-Y{
    background: gray;
    color:#A9A6AB;
}

.reddot{
    position: absolute;
    width:10px;
    height:10px;
    border-radius: 5px;
    background: red;
    margin-left: 85px;
    margin-top: -5px;
}