.catitem {
    width: 25vw;
}


ion-content {
    --background: #edeceb;
}

.crow {
    height: 50px;
}

.myrank {
    background: #9FD8F2;
}

// .row-0 {
//     background: #F2F2F2;
// }

// .row-1 {
//     background: #FDFCF9;
// }

// .rank-1 {
//     background: #FF8B8B;
// }

// .rank-2 {
//     background: #FBB754;
// }

// .rank-3 {
//     background: #F7C781;
// }
