<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class='flex-row border-bottom bg-white' >
    <div class="flex-1"></div>
    <div class='catitem' (click)='g="A";refreshlist();'>
      <div class='flex-row flex-center'>
        <div class='flex-1'></div>
        <div>
          <div class='m    {{g=="A"?"ma h5 txt-bold":"h6"}} '>问题清单</div>
          <div class='mf    {{g=="A"?"maf ":""}} '></div>
        </div>
        <div class='flex-1'></div>
      </div>
    </div>
    <div class="flex-1"></div>
    <div class='catitem' (click)='g="B";'>
      <div class='flex-row flex-center'>
        <div class='flex-1'></div>
        <div>
          <div class='m    {{g=="B"?"ma h5 txt-bold":"h6"}} '>问题贡献排名</div>
          <div class='mf    {{g=="B"?"maf ":""}} '></div>
        </div>
        <div class='flex-1'></div>
      </div>
    </div>
    <div class="flex-1"></div>
    <div class='catitem' (click)='g="C";'>
      <div class='flex-row flex-center'>
        <div class='flex-1'></div>
        <div>
          <div class='m    {{g=="C"?"ma h5 txt-bold":"h6"}} '>内容贡献排行</div>
          <div class='mf    {{g=="C"?"maf ":""}} '></div>
        </div>
        <div class='flex-1'></div>
      </div>
    </div>
    <div class="flex-1"></div>
  </div>
  <div *ngIf="g=='A'">
    <div style="width:100vw;height:55vw;" #sandian></div>
    <div class="padding-20">
      <div *ngFor="let item of list">
        <div class="bg-white radius-10 margin-bottom-20 padding-30">
          <div class="flex-row flex-center">
            <div class="margin-right">
              <img [src]="getMemberLogo(item.member_avatarUrl)" class="icon-20 radius-50">
            </div>
            <div class="h6 txt-gray  flex-1">{{item.member_nickName}}</div>
            <div class="h6" (click)='like(item)'>{{item.likecount}}人为他加速</div>
            <div class="margin-left" (click)='like(item)'>
              <img src="{{uploadpath}}resource/{{res.rocket}}" class="icon-20 radius-50" *ngIf='item.islike!="N"'>
              <img src="{{uploadpath}}resource/{{res.norocket}}" class="icon-20 radius-50" *ngIf='item.islike=="N"'>
            </div>
          </div>
          <div>
            <img src="{{uploadpath}}resource/{{res.leftquote}}" class="icon-10" />
          </div>
          <div (click)="navigate('question',{id:item.id})">
            {{item.title}}
          </div>
          <div class="text-right">
            <img src="{{uploadpath}}resource/{{res.rightquote}}" class="icon-10" />
          </div>
          <div class="margin-top h6 txt-gray">
            {{item.post_time_str}}
          </div>
        </div>
      </div>
    </div>
    <div style="height:80px;"></div>
    <div class="fixbottom">
      <div class="padding-40 text-center">
        <div>
          <img src="{{uploadpath}}resource/{{res.addquestion}}" class="icon-80"
            (click)='navigate("question-submit",{cat_id:params.cat_id,company_id:params.company_id})' />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="g=='B'">
    <div class="flex-row text-center flex-center bg-primary txt-white txt-bold crow">
      <div class="flex-1">排名</div>
      <div class="flex-1">贡献者</div>
      <div class="flex-1">收录次数</div>
    </div>
    <div *ngIf="myrank!=null&&myrank!=''&&myrank.rank>10" class="bg-white">
      <div class="flex-row text-center flex-center txt-white crow myrank">
        <div class="flex-1">第{{myrank.rank}}名</div>
        <div class="flex-1">
          <div class="flex-row flex-center">
            <div>
              <img [src]="getMemberLogo(myrank.avatarUrl)" class="icon-20 radius-50" />
            </div>
            <div class="h5 margin-left nhk">{{myrank.nickName}}</div>
          </div>
        </div>
        <div class="flex-1">{{myrank.collectcount}}</div>
      </div>
    </div>
    <div *ngFor="let item of allrank;let rank=index;" class="bg-white">
      <div class="flex-row text-center flex-center  crow row-{{(rank+1)%2}} rank-{{rank+1}}">
        <div class="flex-1" *ngIf="rank+1>3">第{{rank+1}}名</div>
        <div class="flex-1" *ngIf="rank+1==1">
          <img src="{{uploadpath}}resource/{{res.g1}}" class="icon-30" />
        </div>
        <div class="flex-1" *ngIf="rank+1==2">
          <img src="{{uploadpath}}resource/{{res.g2}}" class="icon-30" />
        </div>
        <div class="flex-1" *ngIf="rank+1==3">
          <img src="{{uploadpath}}resource/{{res.g3}}" class="icon-30" />
        </div>
        <div class="flex-1">
          <div class="flex-row flex-center">
            <div>
              <img [src]="getMemberLogo(item.avatarUrl)" class="icon-20 radius-50" />
            </div>
            <div class="h5 margin-left nhk">{{item.nickName}}</div>
          </div>
        </div>
        <div class="flex-1">{{item.collectcount}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="g=='C'">
    <div class="flex-row text-center flex-center bg-primary txt-white txt-bold crow">
      <div class="flex-1">排名</div>
      <div class="flex-1">贡献者</div>
      <div class="flex-1">收录次数</div>
    </div>
    <div *ngIf="myreplyrank!=null&&myreplyrank!=''&&myreplyrank.rank>10" class="bg-white">
      <div class="flex-row text-center flex-center txt-white crow myreplyrank">
        <div class="flex-1">第{{myreplyrank.rank}}名</div>
        <div class="flex-1">
          <div class="flex-row flex-center">
            <div>
              <img [src]="getMemberLogo(myreplyrank.avatarUrl)" class="icon-20 radius-50" />
            </div>
            <div class="h5 margin-left nhk">{{myreplyrank.nickName}}</div>
          </div>
        </div>
        <div class="flex-1">{{myreplyrank.collectcount}}</div>
      </div>
    </div>
    <div *ngFor="let item of allreplyrank;let rank=index;" class="bg-white">
      <div class="flex-row text-center flex-center  crow row-{{(rank+1)%2}} rank-{{rank+1}}">
        <div class="flex-1" *ngIf="rank+1>3">第{{rank+1}}名</div>
        <div class="flex-1" *ngIf="rank+1==1">
          <img src="{{uploadpath}}resource/{{res.g1}}" class="icon-30" />
        </div>
        <div class="flex-1" *ngIf="rank+1==2">
          <img src="{{uploadpath}}resource/{{res.g2}}" class="icon-30" />
        </div>
        <div class="flex-1" *ngIf="rank+1==3">
          <img src="{{uploadpath}}resource/{{res.g3}}" class="icon-30" />
        </div>
        <div class="flex-1">
          <div class="flex-row flex-center">
            <div>
              <img [src]="getMemberLogo(item.avatarUrl)" class="icon-20 radius-50" />
            </div>
            <div class="h5 margin-left nhk">{{item.nickName}}</div>
          </div>
        </div>
        <div class="flex-1">{{item.collectcount}}</div>
      </div>
    </div>
  </div>
</ion-content>