<ion-header>
</ion-header>

<ion-content>
  <div  class="bg-primary padding-40">
    <div *ngIf="MemberInfo!=null">
        <div class="text-center">
          <div><img [src]="MemberInfo.avatarUrl" class="icon-75 radius-50 border-gray-3" /></div>
          <div class="margin-top-20 txt-white txt-bold">{{MemberInfo.nickName}}</div>
        </div>
    </div>
    <div *ngIf="MemberInfo==null">
      <div class="text-center" (click)='tryLogin()'>
        <div><img src="{{uploadpath}}inst/{{InstInfo.logo}}" class="icon-75 radius-50 border-gray-3" /></div>
        <div class="margin-top-20 txt-white txt-bold">请点击登录</div>
      </div>
    </div>
  </div>
</ion-content>