<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
        <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/a-a.png" />
        <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/a.png" />
      <ion-label class="f12"  style='margin-top:5px;'>简报</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
        <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/b-a.png" />
        <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/b.png" />
      <ion-label class="f12"  style='margin-top:5px;'>问答</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/c-a.png" />
      <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/c.png" />
      <ion-label class="f12"  style='margin-top:5px;'>估值</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="tab4">
      <ion-icon name="send"></ion-icon>
      <ion-label>资讯</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="tab5">
        <img class="icon-20 inactive" style='margin-top:5px;' src="assets/icon/d-a.png" />
        <img class="icon-20 active" style='margin-top:5px;' src="assets/icon/d.png" />
      <ion-label class="f12"  style='margin-top:5px;'>个人</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
