<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>呵护</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>育儿圈</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img class="icon-15 inactive" style='margin-top:5px;' src="assets/icon/a-a.png" />
      <img class="icon-15 active" style='margin-top:5px;' src="assets/icon/a.png" />
      <ion-label class="f14"  style='margin-top:5px;'>估值</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="send"></ion-icon>
      <ion-label>资讯</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon name="send"></ion-icon>
      <ion-label>个人</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
