<ion-header>
  <div class="border-bottom-2">
    <div class="padding-20 margin-top">
      <div class="flex-row flex-center">
        <div class="flex-1"></div>
        <div class="margin-right f20" (click)='changeCat()'>
          {{selectcat==null?'全部行业':selectcat.name}}
        </div>
        <div class="margin-left" (click)='changeCat()'>
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        <div class="flex-1 text-right">
          <!-- <ion-button fill='clear' (click)='navigate("info-center",{},true)'>
                        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
                        <ion-badge color="danger" class="ckkdanger"  *ngIf="MemberInfo!=null&&MemberInfo.notifycount>0">{{MemberInfo.notifycount}}
                        </ion-badge>
                      </ion-button>
                       -->
        </div>
      </div>
    </div>
    <div class='flex-row  text-center'>
      <div class="flex-1"></div>
      <div class='catitem' (click)='look="";loadTopic()'>
        <div class='flex-row flex-center'>
          <div class='flex-1 1bv'></div>
          <div>
            <div class='m    {{look==""?"ma h5 txt-bold":"h6"}} f18'>全部</div>
            <div class='mf    {{look==""?"maf ":""}} '></div>
          </div>
          <div class='flex-1 2v'></div>
        </div>
      </div>
      <div class="flex-1"></div>
      <div class='catitem' (click)='look="G";loadTopic()'>
        <div class='flex-row flex-center'>
          <div class='flex-1 v'></div>
          <div>
            <div class='m    {{look=="G"?"ma h5 txt-bold":"h6"}}  f18'>看好</div>
            <div class='mf    {{look=="G"?"maf ":""}} '></div>
          </div>
          <div class='flex-1'></div>
        </div>
      </div>
      <div class="flex-1"></div>
      <div class='catitem' (click)='look="B";loadTopic()'>
        <div class='flex-row flex-center'>
          <div class='flex-1'></div>
          <div>
            <div class='m    {{look=="B"?"ma h5 txt-bold":"h6"}}  f18'>不看好</div>
            <div class='mf    {{look=="B"?"maf ":""}} '></div>
          </div>
          <div class='flex-1'></div>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
  </div>

</ion-header>
<ion-content>



  <div class="text-center h4 txt-gray" style="margin-top:50px;" *ngIf="list.length==0">暂时没有相关观点</div>

  <div id="din">
  <div *ngFor="let item of list" class="padding-20 "  style="padding-left: 5px;">
    <div  >
      <div class="flex-row ">
        <div class="bg-red dot" *ngIf='item.isread=="N"'></div>
        <div class="dot" *ngIf='item.isread!="N"'></div>
        <div style="width:5px;"></div>
        <div class="flex-1 border-bottom" style="padding-bottom: 20px;">
          <div class="flex-row">
            <div class="h5 txt-bold f16 " style="width:282px" (click)='gotoTopic(item)'>{{item.title}} </div>
            <div class="margin-left-20" style="color:#F1AE3F" *ngIf="item.ismianfei_value=='Y'">免费</div>
          </div>
          <div class="flex-row flex-center margin-top   ll">
            <div (click)='gotoTopic(item)'>
              <img [src]="getMemberLogo(item.member_avatarUrl)" class="icon-20 radius-50" />
            </div>
            <div class="flex-1" (click)='gotoTopic(item)'></div>
            <div class="h6 txt-gray" (click)='gotoTopic(item)'>{{item.post_time_str}}</div>
            <div class="flex-1" (click)='gotoTopic(item)'></div>
            <div *ngIf="item.company_shizhi>0" class="h6 txt-gray" (click)='gotoTopic(item)'>估值{{item.company_shizhi}}亿
            </div>
            <div *ngIf="item.company_shizhi==0" class="h6 txt-gray" (click)='gotoTopic(item)'>未估值</div>
            <div class="flex-1" (click)='gotoTopic(item)'></div>
            <div class="h6 txt-gray " (click)='gotoTopic(item)'>{{item.chiyou=='G'?"持有":"不持有"}}</div>
            <div class="flex-1" (click)='gotoTopic(item)'></div>
            <div class="h6 companyname bg-primary txt-white" (click)='showCompanyTopic(item)'>{{item.company_name}}
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="border-bottom-2 margin-top"></div> -->
    </div>
  </div>
</div>


</ion-content>


<div *ngIf="tanchu" class="zhedan"></div>
<div *ngIf="tanchu" class="juzhong">
  <div class="flex-row flex-center" style="height:100%">
    <div class="flex-1 " style="height:100%;margin-right: 15vw;"></div>
    <div>
      <div class="white-block padding-20">

        <div class="text-center h4-5 " style="color:#101010;margin-top:30px;">个人信息保护指引</div>

        <div class="h5  text-left" style="color:#787979;padding:30px;padding-bottom:20px;padding-top:10px">
          欢迎您使用众问估值！我们将通过<span style="color:#143779" (click)='showContent("用户协议","yonghuxieyi")'>《用户协议》</span>和<span
            (click)='showContent("隐私声明","yinsishengming")'
            style="color:#143779">《隐私声明》</span>帮助您了解我们收集、使用、存储和共享个人信息的情况，了解您的相关权利。
        </div>

        <div class="h5  text-left" style="color:#787979;padding:30px;padding-top:0px;"> 如您同意，请点击下方按钮以接受我们的服务。</div>

        <div (click)="zhidaole()" class="tanchubtn">我知道了</div>
        <div (click)="donneed()" class="tanchubtn2">拒绝</div>
      </div>
    </div>
    <div class="flex-1" style="height:100%;margin-left: 15vw;"></div>
  </div>
</div>