.catitem {
    width: 25vw;
}

.catitem .m {
    color: #A9A6AB;
    padding-top: 3vw;
    padding-bottom: 2.4vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    border-bottom: 0.5vw;
}

.catitem .ma {
    color: #4C556E;
    border-bottom: 0.5vw solid #4C556E;
}

.companyname{
    padding:2px 4px 2px 4px;
    border-radius: 3px;
}

.dot{
    width:6px;
    height:6px;
    margin-top: 6px;
    border-radius: 50%;
}