.catitem {
    width: 20vw;
}

.catitem .m {
    padding-top: 3vw;
    padding-bottom: 2.4vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}

.catitem .mf {
    color: #A9A6AB;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-bottom: 1vw;
}

.catitem .ma  {
    color: #4C556E;
}
.catitem .maf {
    color: #4C556E;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-bottom: 1vw solid #4C556E;
}

.companyname{
    padding:2px 4px 2px 4px;
    border-radius: 3px;
}

.dot{
    width:6px;
    height:6px;
    margin-top: 6px;
    border-radius: 50%;
}