<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>问题</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="question!=null">
    <div class="padding-20 ">
      <div class="bg-white padding-20 radius-10">
        <div class="txt-blod">{{question.title}}</div>
        <div class="h6 margin-top">{{question.content}}</div>
        <div class="margin-top">
          <div class="flex-row flex-center">
            <div class="margin-right">
              <img [src]="getMemberLogo(question.member_avatarUrl)" class="icon-20 radius-50" />
            </div>
            <div class="txt-gray h6 nhk">
              {{question.member_nickName}}
            </div>
            <div class="txt-gray h6 flex-1 margin-left">
              {{question.post_time_str}}
            </div>
            <div class="txt-gray h6">
              回复数
            </div>
            <div class="txt-gray h6 margin-left">{{question.replycount}}</div>
            <div class="margin-left-20" (click)="fav()">
              <img src="{{uploadpath}}resource/{{res.ba}}" class="icon-20" *ngIf="question.isfav=='N'" />
              <img src="{{uploadpath}}resource/{{res.baed}}" class="icon-20" *ngIf="question.isfav=='Y'" />
            </div>
            <div class="txt-gray h6 margin-left" [class.txt-red]="question.isfav=='Y'">{{question.favcount}}</div>
          </div>
        </div>
        <div>
          <div class="margin-top-80" *ngIf="question.hotreply.length>0">
            <div class="flex-row flex-center ">
              <div class="tabset bg-primary"></div>
              <div class="margin-left f16 txt-blod ">强力贡献者</div>
            </div>
            <div class="margin-top flex-row flex-center">
              <div *ngFor="let hotmember of question.hotreply" class="margin-right">
                <img [src]='getMemberLogo(hotmember.avatarUrl)' class="icon-40 radius-50" />
              </div>
            </div>
          </div>
          <div>
            <div class="margin-top-80">
              <div class="flex-row flex-center ">
                <div class="tabset bg-primary"></div>
                <div class="margin-left f16 flex-1">内容详情</div>
                <div *ngIf="question.latestreply.length>0"
                  (click)="navigate('question-reply',{question_id:question.id},true)">
                  <img src="{{uploadpath}}resource/{{res.comment}}" class="icon-20" />
                </div>
                <div *ngIf="question.latestreply.length>0" class="margin-left h6 txt-primary "
                  (click)="navigate('question-reply',{question_id:question.id},true)">
                  写回答</div>
              </div>
              <div>
                <div *ngFor="let reply of question.latestreply " class="margin-top flex-row ">
                  <div class="margin-right-20">
                    <img [src]='getMemberLogo(reply.member_avatarUrl)' class="icon-40 radius-50" />
                  </div>
                  <div class="flex-1">
                    <div class="flex-row flex-center">
                      <div class="flex-1">
                        <div class="h5 txt-gray">{{reply.member_nickName}}</div>
                        <div class="txt-gray h6">{{reply.guzhi==""?"暂无估值":"估值结果"+reply.guzhi+"亿元"}}</div>
                      </div>
                      <div style="padding-right:10px;" (click)='like(reply)'>
                        <img src="{{uploadpath}}resource/{{res.up}}" *ngIf="reply.islike=='N'" class="icon-20" />
                        <img src="{{uploadpath}}resource/{{res.upa}}" *ngIf="reply.islike!='N'" class="icon-20" />
                      </div>
                      <div style="padding-right:10px;"  [class.txt-gray]="reply.islike=='N'" [class.txt-red]="reply.islike!='N'" (click)='like(reply)'>
                        {{reply.likecount}}
                      </div>
                    </div>
                    <div class="h5 margin-top-5" (click)="replycomment(question.id,reply.id,null,'',reply.member_id)">
                      {{reply.replycontent}}</div>
                    <div class="flex-row flex-center margin-top "> 
                      <div class="txt-gray h6">{{reply.reply_time.substr(0,16)}}</div>
                      <div *ngIf='reply.replyreply.length>0&&showall[reply.id]!="Y"' (click)='showall[reply.id]="Y"' class="margin-left morereply h6 bg-gray text-center">{{reply.replyreply.length}}回复</div>
                    </div>
                    <!-- <div class="margin-top txt-primary h6 text-right"
                      (click)="navigate('question-reply',{question_id:question.id,questionreply_id:reply.id,atmember_id:0})">
                      回复</div> -->
                    <div *ngIf="reply.replyreply.length>0&&showall[reply.id]=='Y'">
                      <div class="padding-20 margin-top  bg-gray" style="padding-top: 0px;border-radius: 5px;">
                        <div *ngFor="let rr of reply.replyreply;">
                          <div class="flex-row" >
                            <div class="flex-1">
                              <div class="h5 margin-top"
                                (click)="replycomment(question.id,reply.id,rr,rr.replycontent)">
                                <span class="txt-primary" *ngIf="rr.atmember_id==0">{{rr.member_nickName}}: </span>
                                <span class="txt-primary" *ngIf="rr.atmember_id>0">{{rr.member_nickName}} 回复
                                  {{rr.atmember_nickName}}: </span>
                                {{rr.replycontent}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="question.latestreply.length==0">
          <div class="flex-row flex-center margin-top-50">
            <div class="flex-1"></div>
            <div (click)="navigate('question-reply',{question_id:question.id},true)">
              <img src="{{uploadpath}}resource/{{res.comment}}" class="icon-20" />
            </div>
            <div class="margin-left h6 txt-primary " (click)="navigate('question-reply',{question_id:question.id},true)">
              我先来贡献</div>
            <div class="flex-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>