

.companyname{
    padding:2px 4px 2px 4px;
    border-radius: 3px;
}

.dot{
    width:6px;
    height:6px;
    margin-top: 6px;
    border-radius: 50%;
}
.xuanfu{
    position: absolute;
margin-top: -20px;
background: white;
width: 100vw;
}
.yinyin{
    color:#787979;
  font-size: 14px;
}
.yy2{
    position: absolute;
    width: 100%;
    background: linear-gradient(#4A515700,rgba(255,255,255,0.5));
}
.sharebg{
    position: fixed;
    top:0px;
    bottom:0px;
    width:100vw;
    height:100vh;
    z-index: 9999;
    background-color: rgba(0,0,0,0.6);
}
.sharebg .backmu{
    height: calc( 100vh - 125px );
}

.ll .flex-1{
    min-height: 15px;
  }

  .dinyue{
 
  

    color: white;
   
  }
