  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)='back()'>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>提问</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="company!=null">
      <div class="padding-20">
        <div class="h6 txt-gray">公司</div>
        <div class="margin-top">
          <div class="flex-row">
            <div>
              {{company.name}}
              <!-- <ion-select placeholder="请选择公司" [interfaceOptions]="customAlertOptions"  [(ngModel)]='company' okText="选择" cancelText="取消">
              <ion-select-option *ngFor="let item of allcompany" [value]="item">{{item.name}}</ion-select-option>
            </ion-select> -->
            </div>
            <div class="flex-1"></div>
          </div>
        </div>
        <div class="h6 txt-gray margin-top-20">标题</div>
        <div class="margin-top">
          <ion-input placeholder="请输入问题标题" [(ngModel)]="title"></ion-input>
        </div>
        <div class="h6 txt-gray margin-top-20">问题详情</div>
        <div class="margin-top">
          <ion-textarea placeholder="请输入问题的详情" [(ngModel)]="content" rows="5"></ion-textarea>
        </div>
        <div class="h6 txt-gray margin-top-20">标签</div>
        <div class="margin-top">
          <div class="flex-row flex-wrap">
            <div *ngFor="let item of alllabel" class="label h6 bg-gray txt-gray"
              [class.active]="labels.indexOf(item.id)>-1" (click)='addLabel(item.id)'>{{item.name}}</div>
          </div>
        </div>
        <div class="margin-top">
          <ion-button expand="block" shape="round" (click)="submit()">提交</ion-button>
        </div>
      </div>
    </div>
  </ion-content>