.header-ios ion-toolbar:last-child {
    --border-width: 0px;
}

.catitem {
    width: 30vw;
}


.companyname {
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
}

.dot {
    width: 6px;
    height: 6px;
    margin-top: 6px;
    border-radius: 50%;
}

