  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)='back()'>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>新用户注册</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <div class="padding white-block">
      <div>

        <div *ngIf="show==1">
          <div class="flex-row column padding-20">
            <div class="flex-1 flex-row column">
              <div>手机号码</div>
              <ion-input [disabled]="inverify==true" placeholder="+86 请输入手机号码" type="tel" [(ngModel)]="mobile"
                maxlength='11'></ion-input>
            </div>
            <div class="flex-1 flex-row column">
              <div>用户名</div>
              <ion-input [disabled]="inverify==true" placeholder="用户名" type="text" [(ngModel)]="name"
                maxlength='20'></ion-input>
            </div>
            <div class="flex-1 flex-row column">
              <div>密码</div>
              <ion-input [disabled]="inverify==true" placeholder="用户密码不少于6位" type="password" [(ngModel)]="password"
                maxlength='30'></ion-input>
            </div>
          </div>
        </div>


        <div class="hr"></div>
        <div class="margin-top-20 padding-20" *ngIf="inverify==false">
          <ion-button *ngIf="show==1" expand="block" [disabled]="mobile.length!=11||name.trim()==''||password.length<6" (click)="setInVerify()">下一步
          </ion-button>

        </div>

        <div class="padding-20" *ngIf="inverify==true&&show==2">

          <div class=" txt-gray">
            <div class="txt-bold h5 txt-black">验证码已发送至手机</div>
            <div class="txt-red txt-bold h5 margin-top-10">+86 {{mobile}}</div>
            <div class="margin-top-20 txt-black h6">请输入验证码</div>
          </div>

          <div class="margin-top-40">
            <div class="flex-row text-center">
              <div class="flex-1"></div>

              <div>
                <input type="tel" [(ngModel)]="c1" class="codeinput" [class.fillc]="c1!=''"  maxlength="1" id="inputc1"
                  (keyup)="setC2Focus()">
              </div>
              <div class="flex-1"></div>
              <div>
                <input type="tel" [(ngModel)]="c2" class="codeinput" [class.fillc]="c2!=''"  maxlength="1" id="inputc2"
                  (keyup)="setC3Focus()">
              </div>
              <div class="flex-1"></div>
              <div>
                <input type="tel" [(ngModel)]="c3" class="codeinput" [class.fillc]="c3!=''"  maxlength="1" id="inputc3"
                  (keyup)="setC4Focus()">
              </div>
              <div class="flex-1"></div>
              <div>
                <input type="tel" [(ngModel)]="c4" class="codeinput" [class.fillc]="c4!=''"  maxlength="1" id="inputc4"
                  (keyup)="submitRegister()">
              </div>
              <div class="flex-1"></div>
            </div>
          </div>
          <div class="flex-row text-center">
            <div class="flex-1"></div>
            <div class="margin-top-20 resend text-right">
              <div class="h6 txt-gray" *ngIf="reminder>0">{{reminder}}秒后重新发送</div>
              <div class="h6 txt-primary" *ngIf="reminder<=0" (click)="sendVerifyCode()">重新发送</div>
            </div>
            <div class="flex-1"></div>
          </div>
        </div>
        <div class="height-40"></div>
      </div>
    </div>
    <div class="height-50"></div>

  </ion-content>