<ion-app>
    
    <ion-router-outlet main></ion-router-outlet>
    <div [ngStyle]="{'z-index': showInput==true?9999:-1 }" class="supercomment">
        <div [ngStyle]="{'height.px': screenheight-keyboardheight-kccheight }" (click)='showInput=false'></div>
    
    
        <div class="padding-10 bg-white  shurukuang " style=" " id='kcc'>
          <div class="flex-row flex-center ">
            <div class="flex-1">
              <input id="comm" type="text" class="" [placeholder]="commph" name="comm" (change)="changeComment($event)"
                (keyup)='checkCommentUp($event)' />
            </div>
            <div class="  h5 margin-left-20 comm text-center txt-white" (click)='rcommentSend()'>
              发送
            </div>
          </div>
        </div>
    
    
      </div>
</ion-app>
