.xiamian{
position: fixed;
bottom: 0;
width: 100vw;
height: 45px;

}
.dinyue{
background:#4C556E;
line-height: 45px;
font-size: 14px;
color: white;
text-align: center;

}
.jiage{

    line-height: 45px;
    font-size: 14px;
    color:#101010;
    text-align: center;  
}